---
- name: Install basic packages
  yum: state=present name={{ item }}
  with_items:
    - ansible
    - python-pip
    - python34
    - git

- name: build list of users
  debug:
    msg: "user{{ item }}"
  loop: "{{ range(0, hetzner_cluster_count)|list }}"
  register: usernames

- set_fact:
    usernames: "{{ usernames.results | map(attribute='msg') | list }}"

- name: Add user accounts
  user:
    name: "{{ item }}"
    shell: /bin/bash
    state: present
    password: "{{ upassword | password_hash('sha512') }}"
  with_items: "{{ usernames  }}" 

- name: Insert custom fact file for ultramaster_keys
  copy:
    src: facts/ultramaster_user_keys.fact
    dest: /etc/ansible/facts.d/ultramaster_user_keys.fact
    mode: 0755
    force: yes

- name: Place Host list script
  copy:
    src: host_list
    dest: /usr/local/bin/host_list
    mode: 0755
    force: yes

 name: Place lesson_1
  copy:
    src: lesson_1
    dest: /tmp/1
    mode: 0644
    user: root
    force: yes

 name: Place lesson_2
  copy:
    src: lesson_2
    dest: /tmp/2
    mode: 0644
    user: root
    force: yes

 name: Place lesson_3
  copy:
    src: lesson_3
    dest: /tmp/3
    mode: 0644
    user: root
    force: yes

- name: create ssh-keys
  shell: "sudo -u {{ item }} ssh-keygen -q -f /home/{{ item }}/.ssh/id_rsa  -C '' -N ''"
  args:
    creates: "/home/{{ item }}/.ssh/id_rsa"
  with_items: "{{ usernames  }}"

- name: Refresh inventory
  meta: refresh_inventory
