---
- name: Install basic packages
  yum: state=present name={{ item }}
  with_items:
    - ansible
    - python-pip
    - python34
    - git

- name: build list of users
  debug:
    msg: "user{{ item }}"
  loop: "{{ range(0, hetzner_cluster_count)|list }}"
  register: usernames

- set_fact:
    usernames: "{{ usernames.results | map(attribute='msg') | list }}"

- name: Add user accounts
  user:
    name: "{{ item }}"
    shell: /bin/bash
    state: present
    password: "{{ upassword | password_hash('sha512') }}"
  with_items: "{{ usernames  }}" 

- name: Insert custom fact file for fqdn
  copy:
    src: facts/ultramaster_user_keys.fact
    dest: /etc/ansible/facts.d/ultramaster_user_keys.fact
    mode: 0755
    force: yes

- name: create ssh-keys
  shell: "sudo -u {{ item }} ssh-keygen -q -f /home/{{ item }}/.ssh/id_rsa  -C '' -N ''"
  args:
    creates: "/home/{{ item }}/.ssh/id_rsa"
  with_items: "{{ usernames  }}"

- name: Refresh inventory
  meta: refresh_inventory
